/* Ici commence le svgStyle */

.svgSearch{
    width: 14px;
gap: 0px;
}





/* Ici commence le style */
body{
     background: rgba(246, 248, 252, 1);

}
main{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.positionHeader{
display: flex;
justify-content:space-between;
padding: 10px 200px 1px 17px;
}
.svgStyle{
    width: 23px;
height: 23px;
padding: 4.47px 1.92px 4.47px 1.92px;
gap: 0px;
opacity: 0px;

}

.contactStyle{
width: 39px;
height: 39px;
}

.search--Style{
width: 473px;
height: 39.49px;
top: 21px;
left: 287px;
padding: 10px 2px 1px 17px;
border-radius: 8px;
opacity: 0px;
background: rgba(238, 240, 242, 1);

}
.menuStyle{
    display: flex;   
    align-items:baseline;
}
.searchStyle{
width: 17.49px;
height: 17.49px;
gap: 0px;
opacity: 0px;
}

h1{
    width: 143px;
    height: 17px;
    padding: 0px 0px 20px 12px;
    gap: 11px;
    opacity: 0px;
text-align: left;

}
.inputStyle{
    font-family: Product Sans;
font-size: 14px;
font-weight: 400;
line-height: 16.98px;
text-align: left;
border: 0px;
width: 443px;
height: 30px;
background: rgba(238, 240, 242, 1);
}
a{
    text-decoration: none;
    color: black;
}

h2{
    width: 143px;
    height: 17px;
    padding: 20px 0px 0px 12px;
    gap: 11px;
    opacity: 0px;
}

.sideBarParent{
    display: block;
    width: 25%;
    height: 1700px;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    border-right: 1px solid burlywood;
        
}

.sideBarChild{
        display: flex;
        height: 1700px;
        width: 80%;
        background-color: white;
    }

.ajoutContact{
    background: #C2E7FF;
    row-gap: 30px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;  
background: #C2E7FF;

}
.textAjoutContact{
    display: flex;
    /* flex-grow: 1; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.listContact{
    padding: 10px;
    margin: 10px;
    background: #C2E7FF;
    border-radius: 10px;
    width: 50%;
}
.FrequentStyle{
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.libelle{
        font-family: Product Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.98px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        width: 55%;
}