/* buttonSearch style */
.search--Style {
    display: flex;
    width: 20rem;
    height: 39.49px;

    padding-left: 1rem;
    border-radius: 8px;
    background: rgba(238, 240, 242, 1);
    align-items: center;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control {
    display: block;
    margin-left: 1rem;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* button style */
button {
    gap: .8rem;
    display: inline-flex;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b2d2f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5894;
}

.divButton {
    display: inline;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

/* textarea style */
.form-group {
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

/* type=search style */

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

/* body style */
body {
    margin: 1rem;
    color: #212529;
    text-align: left;
    background-color: #ffffff4d
}

.FrequentStyle {
    gap: .8rem;
    display: block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.libelle {
    font-family: Product Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.98px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 65%;
}


.navbar {
    position: relative;

}

.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    justify-content: space-between
}


.container {

    margin: 10px auto;
    padding: 20% auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    margin: 10px;
}


.section {
    display: inline;
    height: 1700px;
    background-color: white;
    border-style: outset;
    border-radius: 5px;
    width: 50rem;

}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.positionHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px 1px 17px;
}

.sidbar {
    display: inline;
    gap: .3rem;
    align-content: center;
    align-items: center;
    width: 20%;
<<<<<<< HEAD
=======
}

#popup-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-form-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}

.popup-contenu {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%)
}



a {
    text-decoration: none;
    background-color: transparent;
    gap: .8rem;
    display: inline-flex;
    padding: 10px 20px;
    margin: 5px;
    color: #080202;
    cursor: pointer;
>>>>>>> 88a102ad6d5c7429d3eb302358a67bdbbdb4181b
}