button {
    gap: .8rem;
    display: inline-flex;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b2d2f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {

    box-shadow: 10px 5px 5px #00000058;
}

.divButton {
    display: inline;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;

}

/* buttonSearch style */
.search--Style {
    display: flex;
    width: 20rem;
    height: 39.49px;

    padding-left: 1rem;
    border-radius: 8px;
    background: rgba(238, 240, 242, 1);
    align-items: center;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttonBergerStyle:hover {
    background-color: #5f63682f;
    border-radius: 10%;
    box-shadow: none;

}

.buttonBergerStyle {
    background-color: transparent;

}

.svgStyle {
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;

    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}